@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");
.color-brand {
  color: #CDB39B;
}

.background-color-brand {
  background-color: #CDB39B;
}

.color-drak-grey {
  color: #1E2328;
}

.background-color-drak-grey {
  background-color: #1E2328;
}

.color-white {
  color: #FEFAF3;
}

.background-color-white {
  background-color: #FEFAF3;
}

.color-stone {
  color: #494949;
}

.background-color-stone {
  background-color: #494949;
}

.padding-negative {
  padding: -36px;
}

.padding-xs {
  padding: 3px;
}

.padding-s {
  padding: 6px;
}

.padding-m {
  padding: 12px;
}

.padding-l {
  padding: 24px;
}

.padding-xl {
  padding: 36px;
}

.padding-none {
  padding: 0;
}

/* Direcciones */
.padding-top-negative {
  padding-top: -36px;
}

.padding-top-xs {
  padding-top: 3px;
}

.padding-top-s {
  padding-top: 6px;
}

.padding-top-m {
  padding-top: 12px;
}

.padding-top-l {
  padding-top: 24px;
}

.padding-top-xl {
  padding-top: 36px;
}

.padding-top-none {
  padding-top: 0;
}

.padding-right-negative {
  padding-right: -36px;
}

.padding-right-xs {
  padding-right: 3px;
}

.padding-right-s {
  padding-right: 6px;
}

.padding-right-m {
  padding-right: 12px;
}

.padding-right-l {
  padding-right: 24px;
}

.padding-right-xl {
  padding-right: 36px;
}

.padding-right-none {
  padding-right: 0;
}

.padding-bottom-negative {
  padding-bottom: -36px;
}

.padding-bottom-xs {
  padding-bottom: 3px;
}

.padding-bottom-s {
  padding-bottom: 6px;
}

.padding-bottom-m {
  padding-bottom: 12px;
}

.padding-bottom-l {
  padding-bottom: 24px;
}

.padding-bottom-xl {
  padding-bottom: 36px;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left-negative {
  padding-left: -36px;
}

.padding-left-xs {
  padding-left: 3px;
}

.padding-left-s {
  padding-left: 6px;
}

.padding-left-m {
  padding-left: 12px;
}

.padding-left-l {
  padding-left: 24px;
}

.padding-left-xl {
  padding-left: 36px;
}

.padding-left-none {
  padding-left: 0;
}

.margin-negative {
  margin: -36px;
}

.margin-xs {
  margin: 3px;
}

.margin-s {
  margin: 6px;
}

.margin-m {
  margin: 12px;
}

.margin-l {
  margin: 24px;
}

.margin-xl {
  margin: 36px;
}

.margin-none {
  margin: 0;
}

/* Direcciones */
.margin-top-negative {
  margin-top: -36px;
}

.margin-top-xs {
  margin-top: 3px;
}

.margin-top-s {
  margin-top: 6px;
}

.margin-top-m {
  margin-top: 12px;
}

.margin-top-l {
  margin-top: 24px;
}

.margin-top-xl {
  margin-top: 36px;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right-negative {
  margin-right: -36px;
}

.margin-right-xs {
  margin-right: 3px;
}

.margin-right-s {
  margin-right: 6px;
}

.margin-right-m {
  margin-right: 12px;
}

.margin-right-l {
  margin-right: 24px;
}

.margin-right-xl {
  margin-right: 36px;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-negative {
  margin-bottom: -36px;
}

.margin-bottom-xs {
  margin-bottom: 3px;
}

.margin-bottom-s {
  margin-bottom: 6px;
}

.margin-bottom-m {
  margin-bottom: 12px;
}

.margin-bottom-l {
  margin-bottom: 24px;
}

.margin-bottom-xl {
  margin-bottom: 36px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-negative {
  margin-left: -36px;
}

.margin-left-xs {
  margin-left: 3px;
}

.margin-left-s {
  margin-left: 6px;
}

.margin-left-m {
  margin-left: 12px;
}

.margin-left-l {
  margin-left: 24px;
}

.margin-left-xl {
  margin-left: 36px;
}

.margin-left-none {
  margin-left: 0;
}

/* font-family: 'Roboto', sans-serif; */
h1 {
  font-family: "Noto Serif Display";
  font-size: 38px;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media (min-width: 48em) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-family: "Noto Serif Display";
  font-size: 38px;
  line-height: 40px;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media (min-width: 48em) {
  h2 {
    font-size: 44px;
  }
}

h3 {
  font-family: "Noto Serif Display";
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #CDB39B;
  margin: 5px 0px;
}

p {
  font-family: "roboto";
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
}
@media (min-width: 48em) {
  p {
    font-size: 18px;
    line-height: 24px;
  }
}

.intro {
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 20px 0px;
}
@media (min-width: 48em) {
  .intro {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 40px 40px 40px;
  }
}

.text-btn {
  font-family: "Noto Serif Display";
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: -45px;
  color: #FEFAF3;
}
.text-btn__brown {
  color: #CDB39B;
}

.btn-sound-text {
  font-family: "Noto Serif Display";
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #FEFAF3;
  margin-right: 12px;
  margin-bottom: -5px;
}

html {
  font-size: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: "roboto";
  color: #FEFAF3;
  background-color: #1E2328;
  margin: 0px;
}

button {
  background-color: transparent;
  border: none;
}

.btn-dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background-color: transparent;
  border: 1px solid #FEFAF3;
  border-radius: 12px;
  text-align: left;
  color: #FEFAF3;
  font-family: "PPEditorialNew";
  font-size: 16px;
  padding: 6px 24px;
}
.btn-dowload:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.svg-1:hover path {
  d: path("M155.5 41.5C155.5 46.1175 151.742 50.0488 145.082 53.3488C138.455 56.6321 129.139 59.1938 118.428 61.1469C97.0174 65.0514 70.1756 66.5 48.5 66.5C26.8301 66.5 14.8695 63.0282 8.31326 57.2265C1.78498 51.4496 0.5 43.2567 0.5 33.4243C0.5 28.6674 2.76173 24.0475 6.94089 19.8352C11.1215 15.6213 17.1978 11.8416 24.75 8.78681C39.8479 2.67992 60.7586 -0.494296 83.9353 1.49626C107.321 5.59772 125.249 10.8186 137.319 17.4296C149.391 24.0415 155.5 31.9792 155.5 41.5Z");
}

.btn-organic {
  width: 150px;
  fill: none;
  stroke: #FEFAF3;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-organic__left {
  margin: 5% 0px 20% 10%;
}
.btn-organic__right {
  margin: 5% 0px 20% 10%;
}
@media (min-width: 48em) {
  .btn-organic__right {
    margin: 10% 20% 0px;
  }
}
.btn-organic__sigin {
  margin-top: 10px;
  color: #CDB39B;
  stroke: #CDB39B;
}

.swiper {
  width: 372px;
  height: 241px;
  margin-bottom: 10%;
}
@media (min-width: 48em) {
  .swiper {
    width: 691px;
    height: 447px;
  }
}
@media (min-width: 1600px) {
  .swiper {
    width: 1041px;
    height: 669px;
  }
}
.swiper:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  top: 0;
  left: 27.5%;
  right: 0;
  bottom: 0;
  width: 45%;
  background-image: url(../resources/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sld {
  background-position: 100% 100%;
  background-size: cover;
  border-radius: 10px;
}
@media (min-width: 48em) {
  .sld {
    border-radius: 35px;
  }
}
@media (min-width: 1600px) {
  .sld {
    border-radius: 40px;
  }
}
.sld-1 {
  background-image: url(../resources/slider.jpg);
}
@media (min-width: 48em) {
  .sld-1 {
    border: 12px solid #1E2328;
  }
}
.sld-2 {
  background-image: url(../resources/slider-2.jpg);
}
.sld-3 {
  background-image: url(../resources/slider-3.jpg);
}
@media (min-width: 48em) {
  .sld-3 {
    border: 12px solid #1E2328;
  }
}
.sld-4 {
  background-image: url(../resources/slider-4.jpg);
}
@media (min-width: 48em) {
  .sld-4 {
    border: 12px solid #1E2328;
  }
}
.sld-5 {
  background-image: url(../resources/slider-5.jpg);
}
.sld-6 {
  background-image: url(../resources/slider-1.jpg);
}
@media (min-width: 48em) {
  .sld-6 {
    border: 12px solid #1E2328;
  }
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEFAF3;
  color: #1E2328;
  font-size: 14px;
  text-align: center;
  padding: 2% 10%;
}
@media (min-width: 48em) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 48px;
  }
}

.link-footer {
  color: #1E2328;
}

.nav-bar {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 10%;
  cursor: pointer;
  font-size: 1.5em;
  padding-top: 10%;
}

.menu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  width: 100%;
  margin-top: 10%;
  margin-right: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__link {
  display: block;
  padding: 20px;
  color: #FEFAF3;
  font-size: 1.2em;
  text-decoration: none;
}
.menu__link:hover {
  margin: -2px;
  padding-bottom: 20px;
  border-bottom: solid 4px #CDB39B;
}
.menu__link--active {
  margin: -2px;
  padding-bottom: 20px;
  border-bottom: solid 4px #CDB39B;
}

.mostrar {
  background-color: #1E2328;
  margin: 10% 10px 0px 0px;
  z-index: 2;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }

  .menu {
    margin: 0px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 20px;
    border-bottom: solid 1px #494949;
  }

  .container-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    top: 60px;
    width: 200px;
    overflow: visible;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
  }
}
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  padding: 10px 20px;
}
.top a {
  color: #FEFAF3;
  text-decoration: none;
}
.top__logo {
  width: 20%;
}
.top__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: hidden;
}
.top__nav .active {
  margin-bottom: -7px;
  padding-bottom: 18px;
  border-bottom: solid 4px #CDB39B;
}

.background-video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  margin: 0px;
}

.intro-page {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  max-width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 12%;
  margin-top: -40%;
  margin-bottom: 15%;
}
.intro-page:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 35, 40, 0.36)), to(#1E2328));
  background: linear-gradient(180deg, rgba(30, 35, 40, 0.36) 0%, #1E2328 100%);
}
@media (min-width: 48em) {
  .intro-page {
    margin-top: 15%;
  }
}

.dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  padding: 10%;
  margin: 0px;
}
@media (min-width: 48em) {
  .dowload {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 48em) {
  .explanation {
    margin-right: 48px;
  }
}

@media (min-width: 48em) {
  .traslate-text {
    margin-left: 48px;
  }
}

.btns-dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  margin-bottom: 36px;
}
@media (min-width: 48em) {
  .btns-dowload {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 48em) {
  .vd-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (min-width: 48em) {
  .vd-text__cascada {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.vd-fire {
  max-width: 100vw;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
@media (min-width: 48em) {
  .vd-fire {
    height: 100%;
    width: 2500px;
    margin-bottom: -4px;
  }
}
.vd-fire:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(270deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
}
@media (min-width: 48em) {
  .vd-fire:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(30, 35, 40, 0)), to(#1E2328));
    background: linear-gradient(90deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
  }
}

.text-meditacion__title {
  margin: -350px 30% 200px 10%;
  z-index: 1;
}
@media (min-width: 48em) {
  .text-meditacion__title {
    margin: 40% 20% 10% -20%;
  }
}
.text-meditacion__desc {
  margin: 0 10% 20px 10%;
}

.content-cascada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 48em) {
  .content-cascada {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 10%;
    padding-top: 0px;
  }
}

.text-cascada__title {
  margin: -350px 30% 200px 10%;
  z-index: 1;
}
@media (min-width: 48em) {
  .text-cascada__title {
    text-align: right;
    margin: 20% -20% 10% 40%;
  }
}
.text-cascada__desc {
  margin: 0px 20% 0px 10%;
}
@media (min-width: 48em) {
  .text-cascada__desc {
    text-align: right;
  }
}

.vd-cascada {
  max-width: 100vw;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
@media (min-width: 48em) {
  .vd-cascada {
    height: 100%;
  }
}
.vd-cascada:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(270deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
}

.world {
  margin-left: 10%;
  overflow: hidden;
}
@media (min-width: 48em) {
  .world {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.counter {
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 48em) {
  .text-places {
    width: 60%;
    margin: 20% 0px;
  }
}

.img-world {
  margin: -300px 0px 0px 170px;
  overflow-x: hidden;
  width: 90%;
}
@media (min-width: 48em) {
  .img-world {
    margin: 0px;
    width: 80%;
  }
}

.intro-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  margin: 0px;
}

.text-intro {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10%;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .text-intro {
    margin-top: 15%;
  }
}

.text-sounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 10% 5% 10%;
  background-image: url("../resources/form.svg");
  background-repeat: no-repeat;
}
.text-sounds-10 {
  margin-top: 10%;
}

.btn-sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: -5% 10% 20px 0px;
}

.river-video {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.meditacion-video {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.last-secction-discober {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  text-align: center;
}

.intro-ubication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 48em) {
  .intro-ubication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -10%;
    margin-bottom: 10%;
  }
}

.text-ubi {
  margin: -60% 10% 10% 10%;
}
@media (min-width: 48em) {
  .text-ubi {
    width: 40%;
    text-align: left;
    margin: 15% -10% 10% 10%;
  }
}

@media (min-width: 48em) {
  .share-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.share-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 48em) {
  .text-share {
    width: 60%;
  }
}

.video-tea {
  margin-top: -90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 80vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
@media (min-width: 48em) {
  .video-tea {
    margin-top: 0px;
    height: 100vh;
    width: 60%;
    margin-bottom: -4px;
  }
}
.video-tea:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(270deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
}

.input {
  padding: 18px;
  border: none;
  border: 2px solid #FEFAF3;
  border-radius: 12px;
  background-color: transparent;
  margin: 12px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100vh;
  margin-top: -60%;
}
@media (min-width: 48em) {
  .contact {
    margin: 0px;
    padding: 20%;
  }
}

.singin {
  border-top: 1px solid #CDB39B;
  margin-top: 20%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 48em) {
  .singin {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
}

.new-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}