@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");
.color-brand {
  color: #CDB39B;
}

.background-color-brand {
  background-color: #CDB39B;
}

.color-drak-grey {
  color: #1E2328;
}

.background-color-drak-grey {
  background-color: #1E2328;
}

.color-white {
  color: #FEFAF3;
}

.background-color-white {
  background-color: #FEFAF3;
}

.color-stone {
  color: #494949;
}

.background-color-stone {
  background-color: #494949;
}

.padding-negative {
  padding: -36px;
}

.padding-xs {
  padding: 3px;
}

.padding-s {
  padding: 6px;
}

.padding-m {
  padding: 12px;
}

.padding-l {
  padding: 24px;
}

.padding-xl {
  padding: 36px;
}

.padding-none {
  padding: 0;
}

/* Direcciones */
.padding-top-negative {
  padding-top: -36px;
}

.padding-top-xs {
  padding-top: 3px;
}

.padding-top-s {
  padding-top: 6px;
}

.padding-top-m {
  padding-top: 12px;
}

.padding-top-l {
  padding-top: 24px;
}

.padding-top-xl {
  padding-top: 36px;
}

.padding-top-none {
  padding-top: 0;
}

.padding-right-negative {
  padding-right: -36px;
}

.padding-right-xs {
  padding-right: 3px;
}

.padding-right-s {
  padding-right: 6px;
}

.padding-right-m {
  padding-right: 12px;
}

.padding-right-l {
  padding-right: 24px;
}

.padding-right-xl {
  padding-right: 36px;
}

.padding-right-none {
  padding-right: 0;
}

.padding-bottom-negative {
  padding-bottom: -36px;
}

.padding-bottom-xs {
  padding-bottom: 3px;
}

.padding-bottom-s {
  padding-bottom: 6px;
}

.padding-bottom-m {
  padding-bottom: 12px;
}

.padding-bottom-l {
  padding-bottom: 24px;
}

.padding-bottom-xl {
  padding-bottom: 36px;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left-negative {
  padding-left: -36px;
}

.padding-left-xs {
  padding-left: 3px;
}

.padding-left-s {
  padding-left: 6px;
}

.padding-left-m {
  padding-left: 12px;
}

.padding-left-l {
  padding-left: 24px;
}

.padding-left-xl {
  padding-left: 36px;
}

.padding-left-none {
  padding-left: 0;
}

.margin-negative {
  margin: -36px;
}

.margin-xs {
  margin: 3px;
}

.margin-s {
  margin: 6px;
}

.margin-m {
  margin: 12px;
}

.margin-l {
  margin: 24px;
}

.margin-xl {
  margin: 36px;
}

.margin-none {
  margin: 0;
}

/* Direcciones */
.margin-top-negative {
  margin-top: -36px;
}

.margin-top-xs {
  margin-top: 3px;
}

.margin-top-s {
  margin-top: 6px;
}

.margin-top-m {
  margin-top: 12px;
}

.margin-top-l {
  margin-top: 24px;
}

.margin-top-xl {
  margin-top: 36px;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right-negative {
  margin-right: -36px;
}

.margin-right-xs {
  margin-right: 3px;
}

.margin-right-s {
  margin-right: 6px;
}

.margin-right-m {
  margin-right: 12px;
}

.margin-right-l {
  margin-right: 24px;
}

.margin-right-xl {
  margin-right: 36px;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-negative {
  margin-bottom: -36px;
}

.margin-bottom-xs {
  margin-bottom: 3px;
}

.margin-bottom-s {
  margin-bottom: 6px;
}

.margin-bottom-m {
  margin-bottom: 12px;
}

.margin-bottom-l {
  margin-bottom: 24px;
}

.margin-bottom-xl {
  margin-bottom: 36px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-negative {
  margin-left: -36px;
}

.margin-left-xs {
  margin-left: 3px;
}

.margin-left-s {
  margin-left: 6px;
}

.margin-left-m {
  margin-left: 12px;
}

.margin-left-l {
  margin-left: 24px;
}

.margin-left-xl {
  margin-left: 36px;
}

.margin-left-none {
  margin-left: 0;
}

/* font-family: 'Roboto', sans-serif; */
h1, h2 {
  font-family: "Noto Serif Display";
  font-size: 36px;
  line-height: 42px;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media (min-width: 48em) {
  h1, h2 {
    font-size: 44px;
    line-height: 48px;
  }
}

h3 {
  font-family: "Noto Serif Display";
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #CDB39B;
  margin: 5px 0px;
}

p {
  font-family: "roboto";
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
}
@media (min-width: 48em) {
  p {
    font-size: 18px;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
}

.intro {
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 20px 0px;
}
@media (min-width: 48em) {
  .intro {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 40px 40px 40px;
  }
}

.text-btn {
  font-family: "Noto Serif Display";
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: -50px;
  color: #FEFAF3;
}
.text-btn__brown {
  color: #CDB39B;
}
.text-btn__home {
  margin-top: -108px;
}

.btn-sound-text {
  font-family: "Noto Serif Display";
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #FEFAF3;
  margin-right: 12px;
  margin-bottom: -5px;
}

.small-text {
  font-family: "roboto";
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 20px 0px;
  text-align: left;
}

.fav-text {
  text-align: right;
}

html {
  font-size: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: "roboto";
  color: #FEFAF3;
  background-color: #1E2328;
  margin: 0px;
}

button {
  background-color: transparent;
  border: none;
}

.btn-dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background-color: transparent;
  border: 1px solid #FEFAF3;
  border-radius: 12px;
  text-align: left;
  color: #FEFAF3;
  font-family: "PPEditorialNew";
  font-size: 16px;
  padding: 6px 24px;
}
.btn-dowload:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.svg-1:hover path {
  d: path("M155.5 41.5C155.5 46.1175 151.742 50.0488 145.082 53.3488C138.455 56.6321 129.139 59.1938 118.428 61.1469C97.0174 65.0514 70.1756 66.5 48.5 66.5C26.8301 66.5 14.8695 63.0282 8.31326 57.2265C1.78498 51.4496 0.5 43.2567 0.5 33.4243C0.5 28.6674 2.76173 24.0475 6.94089 19.8352C11.1215 15.6213 17.1978 11.8416 24.75 8.78681C39.8479 2.67992 60.7586 -0.494296 83.9353 1.49626C107.321 5.59772 125.249 10.8186 137.319 17.4296C149.391 24.0415 155.5 31.9792 155.5 41.5Z");
}

.svg-2 {
  margin-left: -19px;
}
.svg-2:hover path {
  d: path("M64.5 2.69635L64.5016 3.19635L64.5 2.69635ZM134.656 0.839183L134.651 0.339206L134.656 0.839183ZM199.995 35.4451C200.27 35.4708 200.514 35.2688 200.54 34.9939L200.959 30.5134C200.985 30.2385 200.783 29.9948 200.508 29.969C200.233 29.9433 199.989 30.1453 199.964 30.4203L199.591 34.4028L195.608 34.0301C195.333 34.0044 195.089 34.2064 195.064 34.4813C195.038 34.7563 195.24 35 195.515 35.0257L199.995 35.4451ZM0.754306 2.69635C0.753103 3.19635 0.753242 3.19635 0.753518 3.19635C0.753794 3.19635 0.754208 3.19635 0.754758 3.19635C0.75586 3.19635 0.75751 3.19636 0.759706 3.19636C0.764099 3.19637 0.770676 3.19639 0.779416 3.19641C0.796896 3.19645 0.823028 3.19651 0.857642 3.19659C0.926869 3.19675 1.03002 3.19699 1.16574 3.1973C1.43718 3.19792 1.83886 3.19881 2.3599 3.19991C3.40198 3.20212 4.92147 3.20518 6.83112 3.20858C10.6504 3.21537 16.0304 3.22352 22.2732 3.22896C34.7587 3.23983 50.6959 3.23983 64.5016 3.19635L64.4984 2.19635C50.6948 2.23983 34.7591 2.23983 22.2741 2.22896C16.0316 2.22352 10.652 2.21537 6.83289 2.20858C4.92337 2.20518 3.404 2.20212 2.36202 2.19992C1.84104 2.19881 1.4394 2.19792 1.16801 2.1973C1.03232 2.197 0.929185 2.19676 0.85998 2.1966C0.825378 2.19651 0.799258 2.19645 0.781789 2.19641C0.773055 2.19639 0.766483 2.19638 0.762096 2.19636C0.759903 2.19636 0.758255 2.19636 0.757156 2.19635C0.756607 2.19635 0.756195 2.19635 0.75592 2.19635C0.755646 2.19635 0.755509 2.19635 0.754306 2.69635ZM64.5016 3.19635C79.3166 3.14968 89.4725 2.7564 99.6169 2.33933C109.759 1.92235 119.888 1.48169 134.66 1.33916L134.651 0.339206C119.861 0.481908 109.718 0.923198 99.5758 1.34018C89.4356 1.75707 79.2945 2.14975 64.4984 2.19635L64.5016 3.19635ZM134.66 1.33916C152.918 1.163 169.159 9.62168 180.862 18.1639C186.71 22.4315 191.412 26.711 194.651 29.923C196.271 31.5287 197.525 32.867 198.372 33.8028C198.796 34.2706 199.118 34.6378 199.334 34.8874C199.442 35.0121 199.523 35.1075 199.577 35.1714C199.604 35.2033 199.624 35.2274 199.638 35.2433C199.644 35.2513 199.649 35.2572 199.653 35.261C199.654 35.2629 199.655 35.2644 199.656 35.2652C199.656 35.2657 199.657 35.266 199.657 35.2662C199.657 35.2663 199.657 35.2663 200.042 34.9473C200.427 34.6282 200.427 34.6279 200.426 34.6276C200.426 34.6273 200.426 34.6267 200.425 34.6261C200.424 34.6249 200.423 34.6232 200.421 34.621C200.417 34.6165 200.412 34.6099 200.404 34.6013C200.39 34.5841 200.369 34.5587 200.341 34.5254C200.284 34.4589 200.201 34.3608 200.09 34.2333C199.87 33.9782 199.542 33.6053 199.113 33.1314C198.255 32.1839 196.989 30.8325 195.356 29.2128C192.089 25.9741 187.348 21.6599 181.452 17.3561C169.668 8.75544 153.216 0.160076 134.651 0.339206L134.66 1.33916Z");
}

.btn-organic {
  width: 150px;
  fill: none;
  stroke: #FEFAF3;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-organic__left {
  margin: 5% 0px 20% 10%;
}
.btn-organic__right {
  margin: 5% 0px 20% 10%;
}
@media (min-width: 48em) {
  .btn-organic__right {
    margin: 10% 20% 0px;
  }
}
.btn-organic__sigin {
  margin-top: 10px;
  color: #CDB39B;
  stroke: #CDB39B;
}

.first-btn-home {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 20px;
}
@media (min-width: 48em) {
  .first-btn-home {
    margin-left: 40px;
  }
}

.swiper-ub {
  width: 372px;
  height: 241px;
  margin-bottom: 10%;
}
@media (min-width: 48em) {
  .swiper-ub {
    width: 691px;
    height: 447px;
  }
}
@media (min-width: 1600px) {
  .swiper-ub {
    width: 1041px;
    height: 669px;
  }
}
.swiper-ub:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  top: 0;
  left: 27.5%;
  right: 0;
  bottom: 0;
  width: 45%;
  background-image: url(../resources/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide-ub {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sld {
  background-position: 100% 100%;
  background-size: cover;
  border-radius: 10px;
}
@media (min-width: 48em) {
  .sld {
    border-radius: 35px;
  }
}
@media (min-width: 1600px) {
  .sld {
    border-radius: 40px;
  }
}
.sld-1 {
  background-image: url(../resources/slider.jpg);
}
@media (min-width: 48em) {
  .sld-1 {
    border: 12px solid #1E2328;
  }
}
.sld-2 {
  background-image: url(../resources/slider-2.jpg);
}
.sld-3 {
  background-image: url(../resources/slider-3.jpg);
}
@media (min-width: 48em) {
  .sld-3 {
    border: 12px solid #1E2328;
  }
}
.sld-4 {
  background-image: url(../resources/slider-4.jpg);
}
@media (min-width: 48em) {
  .sld-4 {
    border: 12px solid #1E2328;
  }
}
.sld-5 {
  background-image: url(../resources/slider-5.jpg);
}
.sld-6 {
  background-image: url(../resources/slider-1.jpg);
}
@media (min-width: 48em) {
  .sld-6 {
    border: 12px solid #1E2328;
  }
}

.swiper-user {
  height: 300px;
}
@media (min-width: 48em) {
  .swiper-user {
    height: 40%;
  }
}

.swiper-pagination-bullet {
  background: #FEFAF3 !important;
  opacity: 60% !important;
}
.swiper-pagination-bullet-active {
  background: #CDB39B !important;
  opacity: 100% !important;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FEFAF3;
  color: #1E2328;
  font-size: 14px;
  text-align: center;
  padding: 2% 10%;
}
.main-footer__icons {
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (min-width: 48em) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 48px;
  }
}

.link-footer {
  color: #1E2328;
}

.nav-bar {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 10%;
  cursor: pointer;
  font-size: 1.5em;
  padding-top: 10%;
}
@media (min-width: 48em) {
  .nav-bar {
    padding-top: 5%;
  }
}

.menu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  width: 100%;
  margin-top: 10%;
  margin-right: -150%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__link {
  display: block;
  padding: 20px;
  color: #FEFAF3;
  font-size: 1.2em;
  text-decoration: none;
}
.menu__link:hover {
  margin: -2px;
  padding-bottom: 20px;
  border-bottom: solid 4px #CDB39B;
}
@media (min-width: 56.25em) {
  .menu__link--active {
    margin: -2px;
    padding-bottom: 20px;
    border-bottom: solid 4px #CDB39B;
  }
}

.active {
  margin: -2px;
  padding-bottom: 20px;
  border-bottom: solid 4px #CDB39B;
}

.mostrar {
  background-color: #1E2328;
  margin: 10% 10px 0px 0px;
  z-index: 2;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }

  .menu {
    margin: 0px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 20px;
    border-bottom: solid 1px #494949;
  }

  .container-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    top: 60px;
    width: 200px;
    overflow: visible;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
  }
}
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  padding: 10px 20px;
}
.top a {
  color: #FEFAF3;
  text-decoration: none;
}
.top__logo {
  width: 20%;
}
.top__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-x: hidden;
}
.top__nav .active {
  margin-bottom: -7px;
  padding-bottom: 18px;
  border-bottom: solid 4px #CDB39B;
}

.background-video {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  margin: 0px;
}
@media (min-width: 48em) {
  .background-video {
    height: 100vh;
  }
}

.intro-page {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  max-width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 12%;
  margin-top: -40%;
  margin-bottom: 15%;
}
.intro-page:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 35, 40, 0.36)), to(#1E2328));
  background: linear-gradient(180deg, rgba(30, 35, 40, 0.36) 0%, #1E2328 100%);
}
@media (min-width: 48em) {
  .intro-page {
    margin-top: 15%;
  }
}

.free {
  margin: 20px 0;
  color: white;
}

.dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  padding: 10%;
  margin: 0px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .dowload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 48em) {
  .explanation {
    margin-right: 48px;
  }
}

@media (min-width: 48em) {
  .traslate-text {
    margin-left: 48px;
  }
}

.btns-dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  margin-bottom: 36px;
}
@media (min-width: 48em) {
  .btns-dowload {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 48em) {
  .vd-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (min-width: 48em) {
  .vd-text__cascada {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.vd-fire {
  max-width: 100vw;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
@media (min-width: 48em) {
  .vd-fire {
    height: 100%;
    width: 2500px;
    margin-bottom: -4px;
  }
}
.vd-fire:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(270deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
}
@media (min-width: 48em) {
  .vd-fire:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(30, 35, 40, 0)), to(#1E2328));
    background: linear-gradient(90deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
  }
}

.text-meditacion__title {
  margin: -350px 30% 200px 10%;
  z-index: 1;
}
@media (min-width: 48em) {
  .text-meditacion__title {
    margin: 40% 20% 10% -20%;
  }
}
.text-meditacion__desc {
  margin: 0 10% 20px 10%;
}

.content-cascada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 48em) {
  .content-cascada {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 10%;
    padding-top: 0px;
  }
}

.text-cascada__title {
  margin: -350px 30% 200px 10%;
  z-index: 1;
}
@media (min-width: 48em) {
  .text-cascada__title {
    text-align: right;
    margin: 20% -20% 10% 40%;
  }
}
.text-cascada__desc {
  margin: 0px 20% 0px 10%;
}
@media (min-width: 48em) {
  .text-cascada__desc {
    text-align: right;
  }
}

.vd-cascada {
  max-width: 100vw;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
@media (min-width: 48em) {
  .vd-cascada {
    height: 100%;
  }
}
.vd-cascada:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(270deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
}

.world {
  padding-left: 10%;
  overflow: hidden;
}
@media (min-width: 48em) {
  .world {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.timer {
  text-align: left;
  font-size: 100px;
  margin-bottom: 10px;
}

.text-places {
  margin-right: 20%;
}
@media (min-width: 48em) {
  .text-places {
    width: 60%;
    margin: 20% 0px;
  }
}

.img-world {
  margin: -300px 0px 0px 170px;
  overflow-x: hidden;
  width: 90%;
}
@media (min-width: 48em) {
  .img-world {
    margin: 0px;
    width: 80%;
  }
}

.intro-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  margin: 0px;
}

.text-intro {
  margin-top: -30%;
  margin-bottom: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10%;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .text-intro {
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

.text-sounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 10% 5% 10%;
  background-image: url("../resources/form.svg");
  background-repeat: no-repeat;
  margin-top: -40%;
}
@media (min-width: 56.25em) {
  .text-sounds {
    margin-top: -10%;
  }
}

.text-meditation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 10%;
  background-image: url("../resources/form.svg");
  background-repeat: no-repeat;
  margin-top: 5%;
}

.btn-sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: -5% 10% 20px 0px;
}

.river-video {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.meditacion-video {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.last-secction-discober {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  text-align: center;
  padding: 10%;
}

.intro-ubication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 48em) {
  .intro-ubication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -30%;
  }
}
@media (min-width: 56.25em) {
  .intro-ubication {
    margin-top: -37px;
    margin-bottom: 10%;
  }
}

.text-ubi {
  margin: -80% 10% 50% 10%;
}
@media (min-width: 48em) {
  .text-ubi {
    width: 40%;
    text-align: left;
    margin: 5% 0px 50% 5%;
  }
}
@media (min-width: 48em) and (min-width: 56.25em) {
  .text-ubi {
    margin: 0px 0px 0px 10%;
  }
}
@media (min-width: 48em) and (min-width: 1600px) {
  .text-ubi {
    margin: 0px 0px 10% 10%;
  }
}

@media (min-width: 48em) {
  .share-all {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.share-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 48em) {
  .text-share {
    width: 60%;
  }
}

.video-tea {
  margin-top: -120%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
@media (min-width: 48em) {
  .video-tea {
    margin-top: 0px;
    margin-bottom: -4px;
  }
}
.video-tea:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(180deg, rgba(30, 35, 40, 0) 50%, #1E2328 100%);
}
@media (min-width: 48em) {
  .video-tea:after {
    background: -webkit-gradient(linear, right top, left top, from(rgba(30, 35, 40, 0)), to(#1E2328));
    background: linear-gradient(270deg, rgba(30, 35, 40, 0) 0%, #1E2328 100%);
  }
}

.input {
  padding: 18px;
  border: none;
  border: 2px solid #FEFAF3;
  border-radius: 12px;
  background-color: transparent;
  margin: 12px;
  color: #FEFAF3;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100vh;
  margin-top: -40%;
}
@media (min-width: 56.25em) {
  .contact {
    margin: 0px;
    padding: 20%;
  }
}

.singin {
  border-top: 1px solid #CDB39B;
  margin-top: 20%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 48em) {
  .singin {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5%;
  }
}

.new-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7%;
  margin-top: -40%;
}
@media (min-width: 48em) {
  .user-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 7%;
    margin-top: -27%;
  }
}
@media (min-width: 56.25em) {
  .user-area {
    margin-top: 0px;
  }
}

.content-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -40% 10% 0px 10%;
}
@media (min-width: 48em) {
  .content-user {
    width: 60%;
    margin: 0px;
  }
}

.img-username {
  max-width: 100vw;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: -1;
}
.img-username:after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(30, 35, 40, 0)), to(#1E2328));
  background: linear-gradient(180deg, rgba(30, 35, 40, 0) 50%, #1E2328 100%);
}
@media (min-width: 48em) {
  .img-username:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(30, 35, 40, 0)), to(#1E2328));
    background: linear-gradient(90deg, rgba(30, 35, 40, 0) 50%, #1E2328 100%);
  }
}

.group-user-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FEFAF3;
  padding-bottom: -20px;
}

.imguser {
  height: 74vh;
}
@media (min-width: 48em) {
  .imguser {
    height: 50vh;
  }
}
@media (min-width: 56.25em) {
  .imguser {
    height: 74vh;
  }
}

.fav-places {
  padding: 10%;
}
@media (min-width: 48em) {
  .fav-places {
    padding: 10% 20%;
  }
}

.heart:hover {
  fill: #CDB39B;
}

.sentence {
  text-align: right;
  color: #CDB39B;
}