.intro-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    overflow: hidden;
    margin: 0px;;
}

.text-intro{
    margin-top: -30%;
    margin-bottom: 30%;
    display: flex;
    justify-content: center;
    padding: 0px 10%;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    @include respond-to(small){
        margin-top: 15%;
        margin-bottom: 0px;
}}

.text-sounds{
    display:flex;
    flex-direction: column;
    padding: 0px 10% 5% 10%;
    background-image: url("../resources/form.svg");
    background-repeat: no-repeat;
    margin-top: -40%;
    
    @include respond-to(medium){
        margin-top: -10%
    ;}}
.text-meditation{
    display:flex;
    flex-direction: column;
    padding:5% 10%;
    background-image: url("../resources/form.svg");
    background-repeat: no-repeat;
    margin-top: 5%;
    
}
.btn-sound{
    display: flex;
    flex-direction: row;
    align-items:  flex-end;
    justify-content: flex-end;
    margin: -5% 10% 20px 0px;
}
.river-video{
    height: 70%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.meditacion-video{
    height: 70%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.last-secction-discober{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    text-align: center;
    padding: 10%;
}