.input {
    padding: 18px;
    border: none;
    border: 2px solid $white;
    border-radius: $unit;
    background-color: transparent;
    margin: $unit;
    color: $white;
}
.login{
    display: flex;
}
.fields {
    display: flex;
    flex-direction: column; 
}


.contact-list {
    display: flex;
    flex-direction: column;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    justify-content: center;
    padding: 10%;
    width: 100%;
    height: 100vh;
    margin-top: -40%;
    @include respond-to(medium){
        margin: 0px;
        padding: 20%;
    }
}

.singin{
    border-top: 1px solid $brown;
    margin-top: 20%;
    padding-top:10px;
    display: flex;
    flex-direction: column;
    
    @include respond-to(small){
        align-items: center;
        margin-top: 5%;}
    
}