
.user-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 15%;
    gap: 10%;
}
.content-user{
    display: flex;
    flex-direction: column;
}
.img-username{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-user-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $white;
    padding-bottom: -20px;
}

.imguser{
    border-radius: 50%;
}