//-------$CLASS FOR TYPOGRPHY


h1,h2{

    font-family: 'Noto Serif Display';
    font-size: 36px;
    line-height: 42px;
    font-weight:lighter;
    letter-spacing: 1px;
    @include respond-to(small){
        font-size: 44px;
        line-height: 48px;
        
    }
}

h3{
    font-family: 'Noto Serif Display';
    font-size: 24px;
    font-weight:lighter;
    letter-spacing: 1px;
    color: $brown;
    margin: 5px 0px;

}
p{
    font-family: 'roboto';
    font-size:  16px;
    line-height: 22px;
    font-weight: lighter;
    @include respond-to(small){
        font-size: 18px;
        line-height: 24px;
    }

}
a{
    text-decoration: none;
}

.intro{
    font-family: 'roboto';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 20px 0px;
    @include respond-to(small){
        font-size: 24px;
        line-height: 34px;
        margin:10px 40px 40px 40px;
    }
}

.text-btn{
    font-family: 'Noto Serif Display';
    font-size: 18px;
    font-weight:lighter;
    letter-spacing: 1px;
    margin-top:-45px;
    color: $white;

    &__brown{
        color: $brown;
    }
    &__home{
        margin-top:-108px;
    }
    
}

.btn-sound-text{
    font-family: 'Noto Serif Display';
    font-size: 18px;
    font-weight:lighter;
    letter-spacing: 1px;
    color: $white;
    margin-right: $unit;
    margin-bottom: -5px;

}
.small-text{
    font-family: 'roboto';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 20px 0px;
    text-align: left;

}