
.nav-bar{
    background-color: aqua;
    display: block;
    padding: 20px;
    cursor:pointer;
    font-size: 1.5em;
    width: 100%;
    color: black;


}

.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    background: #555;
    width: 100%;
    margin-left: -100%;
    transition: all .3s ease-in-out;
}

.menu__link{
    display: block;
    padding: 20px;
    color: yellowgreen;
    font-size: 1.2em;
    text-decoration: none;
}

.menu__link:hover{
    background: #444;
}

.mostrar{
    margin: 0px;
}

@media(min-width:1024px){
    .nav-bar{
        display: none;
    }
    .menu{
        margin-left: 0;
        display: flex;
    }
    .container-submenu{
        position: relative;
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 200px;
        overflow: visible;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu{
        background: #888;

    }
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100vw;
    margin: 10px 0px;
    
    a{
        color: $white;
        text-decoration: none;

    }

    &__logo{
        width: 20%;
        margin-left:40px;
        
        
        
    }
    &__nav{
        margin-right: 40px;
        width: 40%;
        display: flex;
        justify-content:space-between;
        padding-bottom: 5px;
        border-bottom: solid 1px $stone;

        .active{
            margin-bottom: -7px;
            padding-bottom: 5px;
            border-bottom: solid 4px $brown;

            
        }
        

    }
}